---
- name: restart example-service
  systemd:
    name: example-service
    state: restarted
    enabled: yes
    daemon_reload: yes

- name: stop and disable example-service
  systemd:
    name: example-service
    state: stopped
    enabled: no
    daemon_reload: yes
