# Example systemd unit file

[Unit]
Description=Example Service
Documentation=http://github.com

[Service]
Type=simple
Environment="SPECIAL={{ ansible_variable }}"
PIDFile=/tmp/aacdsks_example_service.pid
ExecStart=/bin/bash -c 'COUNT=0; while true; do  COUNT=$$(expr 1 + $${COUNT}) ; echo "$${SPECIAL} $${COUNT}" >> /tmp/count ; sleep 6 ; done'
ExecStop=/bin/kill -9 `cat /tmp/aacdsks_example_service.pid`
Restart=on-failure
