---

- name:
  debug:
    msg: I'm debug output
  tags: current

- name: install example-service systemd unit file
  template:
    src: .{{ item }}.j2
    dest: "{{ item }}"
  with_items:
    - /etc/systemd/system/example-service.service
  notify: restart example-service

# Uncomment this stanza to 'undo' the service and have it switched off
# -  name: trigger nginx-restart
#    command: /bin/true
#    notify: stop and disable example-service
